#wrapper
{
    max-width: 900px;
    margin: 30px auto;
    text-align: center;
}

body
{
    background-image: url('img.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.btn
{
    background-color: rgb(71, 165, 219); /* Green */
    border-radius: 4px;
    width: 95px;
    border: none;
    color: white;
    padding: 7px 10px;
    margin: 5px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn:hover 
{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 97px;
    height: 36px;
}

label
{
    font-size: 20px;
    font-family: cursive;
}

input.slider
{
    margin: 7px 7px;
    width: 500px;

}

input.num
{
    width: 40px;

}

input:hover 
{
    opacity: 1;
}

h1
{
    font-size: 37px;
    font-family: cursive;
}